body{
background-image:URL("/home/ranjeet/Desktop/HTML/Images/links/Link to retro-wallpaper-6.jpg");
background-repeat:no-repeat;
background-size:100%;
background-attachment:fixed;
}

div{
margin:auto;

width:900;
height:auto;}



table{

height:700px;
width:600px;

font-size:30px;
margin-left:150px;
background-color:rgba(133,123,145,0.33);
border-radius:25px;
margin-top:;



}


input[type=text],[type=email],[type=password],[type=number]{
width:200px;}

.a{
height:30px; font-size:20px ;border-radius:5px;}




.b:hover{
background-color:yellow;
color:black;

}
